form{
	background-color: rgba(0,0,0,0.6);
}
div#box{
	text-align:center;
}
select{
	margin-bottom: 30px;
  	margin-top:10px;
  	width: 200px;
  	height:30px;
  	background-color:orange;
  	border:0px;
  	color:white;
}
input{
  width: 200px;
  height:30px;
  margin-bottom: 10px;
}
input[type="button"],[type="reset"]{
  margin-top:50px;
  width:100px;
  height:35px;
  background-color: orange;
  border:0px;
  border-radius: 5px;
  color:white;
}
