div#aside1{
	float:left;
	margin-bottom: 20px;
	margin-right:20px;
	color:white;
}
fieldset{
	border:0px;
	background-color: rgba(0,0,0,0.6);
}
div#item img{
  width:180px;
  height:180px;
  background-color: #070707;
}
div#item img:hover{
  opacity: 0.5;
  background-color:black;
}
div#item{
	float:left;
  margin:20px;
}

 div#list ul{
    padding-left:20px;
    padding-right:20px;
    list-style: none;
  }
 div#list ul li ul{
    padding-left:30px;
    padding-right:30px;
    list-style: none;
  }
 div#list ul li ul a:visited{
    color:white;
  }
 div#list ul li ul a:link{
    text-decoration: none;
    color:white;
  }
 div#list ul li ul a:hover{
    display: block;
    border:3px solid orange;
  }
 div#list{
 	display:inline-block;
 	clear:both;
    padding-top:10px;
    width:250px;
    height:300px;
    background-color: rgba(0,0,0,0.6);
   	top:400px;
  }